[core]
	editor = vim
[init]
	defaultBranch = main
[commit]
  	gpgsign = true
[user]
	email = 12881861+simonedimaria@users.noreply.github.com
	name = simonedimaria
   	useConfigOnly = true
[include]
  	path = ~/.gitconfig.sdm

[includeIf "gitdir:~/Projects/SDM/"]
 	path = ~/.gitconfig.sdm

[includeIf "gitdir:~/Projects/PTP/"]
  	path = ~/.gitconfig.ptp
[pull]
	ff = true
